

<style>
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
body {
 width: 100%;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 min-height: 100vh;
 font-family: "Poppins", sans-serif;
 background-color: whitesmoke !important;
 position: relative;
}

ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
 display: flex;
 align-items: center;
}

a {
 text-decoration: none;
}

.header__wrapper header {
 width: 100%;
 height: fit-content;
 /* background: url("background.jpg") no-repeat center/ cover;
 min-height: calc(100px + 15vw); */
}

.header__wrapper .cols__container .left__col {
 padding: 30px 25px;
 text-align: center;
 max-width: 350px;
 position: relative;
 margin: 0 auto;
}

.header__wrapper .cols__container .left__col .img__container {
 position: absolute;
 top: -60px;
 left: 50%;
 transform: translatex(-50%);
 
}
.header__wrapper .cols__container .left__col .img__container img {
 width: 200px;
 height: 200px;
 object-fit: cover;
 border-radius: 50%;
 display:flexbox;
 box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.18);
 
}
/* .header__wrapper .cols__container .left__col .img__container span {
 position: absolute;
 background: #2afa6a;
 width: 16px;
 height: 16px;
 border-radius: 50%;
 bottom: 3px;
 right: 11px;
 border: 2px solid #fff;
} */
.header__wrapper .cols__container .left__col h2 {
 margin-top: 100px;
 font-weight: 600;
 font-size: 32px;
 margin-bottom: 5px;
 padding: 75px 10px 10px 10px;
}
.header__wrapper .cols__container .left__col p {
 font-size: 20pt;
 color: #818181;
 margin: 0;
 padding: 10px 5px;
}
.header__wrapper .cols__container .left__col .about {
 justify-content: space-between;
 position: relative;
 margin: 35px 0;
}
.header__wrapper .cols__container .left__col .about li {
 display: flex;
 flex-direction: column;
 color: #818181;
 font-size: 1.2rem;
}
.header__wrapper .cols__container .left__col .about li span {
 color: #1d1d1d;
 font-weight: 600;
}
.header__wrapper .cols__container .left__col .about:after {
 position: absolute;
 content: "";
 bottom: -16px;
 display: block;
 background: #cccccc;
 height: 1px;
 width: 100%;
}
.header__wrapper .cols__container .content p {
 font-size: 1.75rem;
 color: #1d1d1d;
 line-height: 1.8em;
}
.header__wrapper .cols__container .content ul {
 gap: 30px;
 justify-content: center;
 align-items: center;
 margin-top: 25px;
}
.header__wrapper .cols__container .content ul li {
 display: flex;
}
.header__wrapper .cols__container .content ul i {
 font-size: 1.3rem;
}
.header__wrapper .cols__container .content ul a {
  color: inherit; /* Inherit color from parent element */
        text-decoration: none; /* Remove underline */
        font-size: 24px; /* Adjust size as needed */
        margin-right: 10px; /* Space between icons */
        transition: color 0.3s ease; /* Smooth color transition */
}
.header__wrapper .cols__container .content ul a:hover {
  color: blue;
}
.header__wrapper .cols__container .right__col nav {
 display: flex;
 align-items: center;
 padding: 30px 0;
 justify-content: space-between;
 flex-direction: column;
}
.header__wrapper .cols__container .right__col nav ul {
 display: flex;
 gap: 20px;
 flex-direction: column;
}
.header__wrapper .cols__container .right__col nav ul li a {
 text-transform: uppercase;
 color: #818181;
}
.header__wrapper .cols__container .right__col nav ul li:nth-child(1) a {
 color: #1d1d1d;
 font-weight: 600;
}
.header__wrapper .cols__container .right__col nav button {
 background: #0091ff;
 color: #fff;
 border: none;
 padding: 10px 25px;
 border-radius: 4px;
 cursor: pointer;
 margin-top: 20px;
}
.header__wrapper .cols__container .right__col nav button:hover {
 opacity: 0.8;
}
.header__wrapper .cols__container .right__col .photos {
 display: grid;
 grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
 gap: 20px;
}
.header__wrapper .cols__container .right__col .photos img {
 max-width: 100%;
 display: block;
 height: 100%;
 object-fit: cover;
}
#memories{
  padding-top: 30px;
  padding-left: 70px;
  text-align: center;
}
.timeline {
 position: relative;
 max-width: 1200px;
 margin: 100px auto;
 padding-top: 0px;
}

.timelinecontainer {
 padding: 10px 50px;
 position: relative;
 width: 50%;
 animation: movedown 1s linear forwards;
 opacity: 0;
}
@keyframes movedown {
 0% {
   opacity: 1;
   transform: translateY(-30px);
 }
 100% {
   opacity: 1;
   transform: translateY(0px);
 }
}

.text-box {
 padding: 20px 30px;
 background: #fff;
 position: relative;
 border-radius: 6px;
 font-size: 15px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.image-container {
 width: 100%;
 height: auto;
 display: flex;
 justify-content: center;
 align-items: center;
 overflow: hidden;
 margin-top: 10px;
 padding: 10px 10px;
}

.text-box .image-container img {
 max-width: 100%;
 max-height: 300px;
 object-fit: cover;
 border-radius: 6px;
 position: static;
 width: auto;
 right: auto;
 top: auto;
 z-index: auto;
}

.left-container {
 left: 0;
}

.right-container {
 left: 50%;
}

.container img {
 position: absolute;
 width: 40px;
 border-radius: 50%;
 right: -20px;
 top: 32px;
 z-index: 10;
}

.right-container img {
 left: -20px;
}

.timeline::after {
 content: "";
 position: absolute;
 width: 6px;
 height: 100%; 
 background: black;
 top: 0; 
 left: 50%;
 margin-left: -3px;
 z-index: -1;
 animation: moveline 4.5s linear forwards;
}

@keyframes moveline {
 0% {
   height: 0; 
 }
 100% {
   height: 100%; 
 }
}

.text-box h2 {
 font-weight: 600;
}

.text-box p {
 display: inline-block;
 margin: 15px;
}

.left-container-arrow {
 height: 0;
 width: 0;
 position: absolute;
 top: 28px;
 z-index: 1;
 border-top: 15px solid transparent;
 border-bottom: 15px solid transparent;
 border-left: 15px solid white;
 right: -15px;
}

.right-container-arrow {
 height: 0;
 width: 0;
 position: absolute;
 top: 28px;
 z-index: 1;
 border-top: 15px solid transparent;
 border-bottom: 15px solid transparent;
 border-right: 15px solid white;
 left: -15px;
}
.timelinecontainer:nth-child(1) {
 animation-delay: 0.5s;
}
.timelinecontainer:nth-child(2) {
 animation-delay: 1.5s;
}
.timelinecontainer:nth-child(3) {
 animation-delay: 3.1s;
}
.timelinecontainer:nth-child(4) {
 animation-delay: 3.5s;
}
.about a {
  text-decoration: none;
  color: #818181;
}

.px-4 {
 padding-left: 1rem !important;
 padding-right: 1rem !important;
}

.nav-lt-tab .nav-item {
 margin: -0.0625rem 1rem 0;
}

.nav-lt-tab .nav-item .nav-link {
 border-radius: 0;
 border-top: 2px solid transparent;
 color: var(--dashui-gray-600);
 font-weight: 500;
 padding: 1rem 0;
}

.pt-20 {
 padding-top: 8rem !important;
}

.mt-n10 {
 margin-top: -3rem !important;
}

.me-2 {
 margin-right: 0.5rem !important;
}

.align-items-end {
 align-items: flex-end !important;
}

.rounded-circle {
 border-radius: 50% !important;
}

.border-2 {
 --dashui-border-width: 2px;
}

.border {
 border: 1px solid #dcdcdc !important;
}

.py-6 {
 padding-bottom: 1.5rem !important;
 padding-top: 1.5rem !important;
}

.bg-gray-300 {
 --dashui-bg-opacity: 1;
 background-color: #cbd5e1 !important;
}

.mb-6 {
 margin-bottom: 1.5rem !important;
}

.align-items-center {
 align-items: center !important;
}

.mb-4 {
 margin-bottom: 1rem !important;
}

.mb-8 {
 margin-bottom: 2rem !important;
}

.shadow-none {
 box-shadow: none !important;
}
.button-container {
    display: flex;
    align-items: center; /* Optional: align items vertically in center */
    gap: 5px;
}

.lock button{
    margin-left: 10px; /* Optional: Add some space between the buttons */
    margin-top: 11.75px;
}

.card > .list-group:last-child {
 border-bottom-left-radius: 0.5rem;
 border-bottom-right-radius: 0.5rem;
 border-bottom-width: 0;
}

.card > .list-group:first-child {
 border-top-left-radius: 0.5rem;
 border-top-right-radius: 0.5rem;
 border-top-width: 0;
}

.card > .list-group {
 border-bottom: inherit;
 border-top: inherit;
}

.mt-n7 {
 margin-top: -1.75rem !important;
}

.ms-4 {
 margin-left: 1rem !important;
}

.custom-btn {
 color: hotpink;
 border-color: hotpink;
}

.custom-btn:hover {
 color: white;
 background-color: hotpink;
 border-color: hotpink;
}

/* Apply shooting star animation */
.shooting-star {
 display: none;
 position: absolute;
 top: 0;
 left: 0;
 color: yellow;
 font-size: 2rem;
 animation: shooting-star 3s linear infinite;
 opacity: 0;
 z-index: 9999;
}

/* Easter egg container styles */
.easter-egg-container {
 position: fixed;
 bottom: 2px;
 left: 2px;
 background-color: hotpink;
 padding: 3px;
 border-radius: 18px;
 z-index: 9999;
 opacity: 0;
 transition: opacity 0.5s ease;
}

/* Show the Easter Egg on hover */
.easter-egg-container:hover {
 opacity: 1;
}

/* Easter egg text styles */
.easter-egg-container p {
 font-size: 10px;
}

/* Dark mode styles */
body.dark-mode {
 background-color: #1a1a1a !important;
 color: #ffffff;
}


@keyframes shooting-star {
 0% {
   transform: translateX(-100%) translateY(-100%);
   opacity: 0;
 }
 100% {
   transform: translateX(100vw) translateY(100vh);
   opacity: 1;
 }
}

/* Responsiveness */

@media (min-width: 700px) {
 .header__wrapper .cols__container {
   max-width: 1200px;
   margin: 0 auto;
   width: 90%;
   justify-content: space-between;
   display: grid;
   grid-template-columns: 1fr 2fr;
   gap: 50px;
 }
 .header__wrapper .cols__container .left__col {
   padding: 25px 0px;
 }
 .header__wrapper .cols__container .right__col nav ul {
   flex-direction: row;
   gap: 30px;
 }
 .header__wrapper .cols__container .right__col .photos {
   height: 365px;
   overflow: auto;
   padding: 0 0 30px;
 }
 .timeline {
   margin: 30px auto;
 }
 .timeline::after {
   left: 31px;
 }
 .timelinecontainer {
   width: 100%;
   padding-left: 80px;
   padding-right: 25px;
 }
 .text-box {
   padding: 20px 30px;
   background: white;
   position: relative;
   border-radius: 6px;
   font-size: 13px; 
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }
 .text-box p {
   margin-bottom: 10px;
 }
 .image-container {
   width: 100%;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   margin-top: 10px;
   padding: 10px 10px;
 }
 .text-box .image-container img {
   max-width: 100%;
   max-height: 300px;
   object-fit: cover;
   border-radius: 6px;
   position: static;
   width: auto;
   right: auto;
   top: auto;
   z-index: auto;
 }
 .right-container {
   left: 0;
 }
 .left-container img,
 .right-container img {
   left: 10px;
 }
 .left-container-arrow,
 .right-container-arrow {
   border-right: 15px solid white;
   border-left: 0;
   left: -15px;
 }
}
@media screen and (max-width: 700px) {
    #memories{
      padding-top: 10px;
      padding-right: 70px;
      padding-bottom: 10px;
      text-align: center;
    }
    .timeline {
        position: absolute;
        left: 0;
        margin: 0;
    }
    .timeline::after {
        left: 40px; /* Adjust as needed to align with your timeline markers */
    }
    .timelinecontainer {
        width: calc(100% - 20px); /* Adjust as needed to avoid overflow */
        padding-left: 30px;
    }
    .text-box {
        font-size: 13px;
    }
    .text-box small {
        margin-bottom: 10px;
    }
    .left-container, .right-container {
        left: 40px;
        width: calc(100% - 40px);
    }
    .left-container img, .right-container img {
        left: 10px;
    }
    .left-container-arrow, .right-container-arrow {
        border-right: 15px solid #fff;
        border-left: 0;
        left: -15px;
    }
}
/* @media (min-width: 1017px) {
 .header__wrapper .cols__container .left__col {
   margin: 0;
   margin-right: auto;
 }
 .header__wrapper .cols__container .right__col nav {
   flex-direction: row;
 }
 .header__wrapper .cols__container .right__col nav button {
   margin-top: 0;
 }
 .timeline {
 position: relative;
 max-width: 1200px;
 margin: 100px auto;
 padding-top: 0px;
}
.timeline::after {
 content: "";
 position: absolute;
 width: 6px;
 height: 100%; 
 background: black;
 top: 0; 
 left: 50%;
 margin-left: -3px;
 z-index: -1;
 animation: moveline 4.5s linear forwards;
}
.timelinecontainer {
 padding: 10px 50px;
 position: relative;
 width: 50%;
 animation: movedown 1s linear forwards;
 opacity: 0;
}
.text-box {
 padding: 20px 30px;
 background: #fff;
 position: relative;
 border-radius: 6px;
 font-size: 15px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.text-box p {
 display: inline-block;
 margin: 15px;
}
.image-container {
 width: 100%;
 height: auto;
 display: flex;
 justify-content: center;
 align-items: center;
 overflow: hidden;
 margin-top: 10px;
 padding: 10px 10px;
}
.text-box .image-container img {
 max-width: 100%;
 max-height: 300px;
 object-fit: cover;
 border-radius: 6px;
 position: static;
 width: auto;
 right: auto;
 top: auto;
 z-index: auto;
}
.left-container {
 left: 0;
}

.right-container {
 left: 50%;
}
.left-container-arrow {
 height: 0;
 width: 0;
 position: absolute;
 top: 28px;
 z-index: 1;
 border-top: 15px solid transparent;
 border-bottom: 15px solid transparent;
 border-left: 15px solid white;
 right: -15px;
}
.right-container-arrow {
 height: 0;
 width: 0;
 position: absolute;
 top: 28px;
 z-index: 1;
 border-top: 15px solid transparent;
 border-bottom: 15px solid transparent;
 border-right: 15px solid white;
 left: -15px;
} 

} */

</style>
</head>

<%- include("templates/header") %>
<body>
   <div class="shooting-star"><i class="fas fa-star"></i></div>
   <div class="header__wrapper">
    <header style="background: url('<%= backgroundImage %>') no-repeat center/cover; min-height: calc(100px + 15vw);">
      <!-- Header content -->
    </header>
     <div class="cols__container">
       <div class="left__col">
         <div class="img__container">
    
          <img src="<%= profileImage %>" alt="Profile Image">
         

           <button type="button" class="btn btn-outline-dark btn-sm m-3" onclick="location.href='/editLanding'">Edit</button>

           <span></span>
          </div>
          
          <h2><%= username %></h2>
          <p><%= email %></p>
          
          
          
          <% if (capsules && capsules.length > 1) { %>
          <ul class="about">
            <li><span><%= friends.length %></span><a href="/friends">Follower</a></li>
            <li><span><%= capsules.length %></span>Time Capsules</li>
          </ul>
          <% } else if(capsules && capsules.length <= 1){ %>
            <ul class="about">
              <li><span><%= friends.length %></span><a href="/friends">Follower</a></li>
                <li><span><%= capsules.length %></span>Time Capsule</li>
              </ul>
            <% } %>

          <div class="content">
            <p>
              <%= userbio %>
            </p>

            <ul>
              <li>
                <a href="https://twitter.com" target="_blank" rel="noopener noreferrer">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="https://pinterest.com" target="_blank" rel="noopener noreferrer">
                  <i class="fab fa-pinterest"></i>
                </a>
              </li>
              <li>
                <a href="https://facebook.com" target="_blank" rel="noopener noreferrer">
                  <i class="fab fa-facebook"></i>
                </a>
              </li>
              <li>
                <a href="https://dribbble.com" target="_blank" rel="noopener noreferrer">
                  <i class="fab fa-dribbble"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="right__col">
            <h2 id="memories"><em>My Memories</em></h2>
          <div class="timeline">
            <% capsules.sort((a, b) => new Date(b.date) - new Date(a.date)); %>

            <% for(let i = 0; i < capsules.length; i++) { %>
                <% if(i % 2 === 0) { %>
                  <div class="timelinecontainer right-container">
                    <div class="text-box">
                      <% if (capsules[i].lock == true) { %>
                      <h4 class="mb-1"><a href="/openCapsule?id=<%- capsules[i]._id %>" style="pointer-events: none; color: gray;"><%- capsules[i].title %></a></h4>
                      <% } else { %>
                      <h4 class="mb-1"><a href="/openCapsule?id=<%- capsules[i]._id %>"><%- capsules[i].title %></a></h4>
                      <% } %>
                      <p><%- capsules[i].date %></p>
                      <div class="image-container">
                        <% if (capsules[i].images && capsules[i].images.length > 0) { %>
                          <% if (capsules[i].images[0].type.startsWith('image/')) { %>
                            <img src="<%- capsules[i].images[0].path %>" alt="Capsule Image">
                          <% } else if (capsules[i].images[0].type.startsWith('video/')) { %>
                            <video controls>
                              <source src="<%- capsules[i].images[0].path %>" type="<%- capsules[i].images[0].type %>">
                            </video>
                          <% } %>
                        <% } else { %>
                          <p>No media available</p>
                        <% } %>
                      </div>
                      <div class="button-container">
                        
                        <div class="lock">
                            <form method="post" action="/lockUnlockCapsule?id=<%- capsules[i]._id %>" id="lockUnlock">
                                <label for="lockDate"></label>
                                <% if (capsules[i].lock == false) { %> 
                                    <label for="lockDate">Lock until: </label>
                                    <input name="lockedUntil" type="date" name="lockDate" id="lockDate" placeholder="Lock Date" required>
                                    <button type="submit" id="lock" class="btn btn-outline-primary custom-btn ">Lock</button>
                                <% } else { %>
                                  <p> Locked Until: <%= capsules[i].lockedUntil %></p>
                                    <button type="submit" id="unlock" class="btn btn-outline-primary custom-btn " >Unlock</button>
                                <% } %>
                            </form>
                        </div>
                    </div>
                      <span class="right-container-arrow"></span>
                    </div>
                  </div>
                <% } else { %>
                  <div class="timelinecontainer left-container">
                    <div class="text-box">
                      <% if (capsules[i].lock == true) { %>
                      <h4 class="mb-1"><a href="/openCapsule?id=<%- capsules[i]._id %>" style="pointer-events: none; color: gray;"><%- capsules[i].title %></a></h4>
                      <% } else { %>
                      <h4 class="mb-1"><a href="/openCapsule?id=<%- capsules[i]._id %>"><%- capsules[i].title %></a></h4>
                      <% } %>
                      <p><%- capsules[i].date %></p>
                      <div class="image-container">
                        <% if (capsules[i].images && capsules[i].images.length > 0) { %>
                          <% if (capsules[i].images[0].type.startsWith('image/')) { %>
                            <img src="<%- capsules[i].images[0].path %>" alt="Capsule Image">
                          <% } else if (capsules[i].images[0].type.startsWith('video/')) { %>
                            <video controls>
                              <source src="<%- capsules[i].images[0].path %>" type="<%- capsules[i].images[0].type %>">
                            </video>
                          <% } %>
                        <% } else { %>
                          <p>No media available</p>
                        <% } %>
                      </div>
                      <div class="button-container">
                        <a href="#!" class="btn btn-outline-primary custom-btn" ><i class="fas fa-heart"></i> Like</a>
                        <div class="lock">
                            <form method="post" action="/lockUnlockCapsule?id=<%- capsules[i]._id %>">
                                <label for="lockDate"></label>
                                <input type="hidden" value="<%- capsules[i].title %>" name="id" id="capsuleTitle">
                                <% if (capsules[i].lock == false) { %> 
                                    <label for="lockDate">Lock until: </label>
                                    <input name="lockedUntil" type="date" name="lockDate" id="lockDate" placeholder="Lock Date" required>
                                    <button type="submit" class="btn btn-outline-primary custom-btn " >Lock</button>
                                <% } else { %>
                                    <button type="submit" class="btn btn-outline-primary custom-btn" >Unlock</button>
                                <% } %>
                            </form>
                        </div>
                    </div>
                      <span class="left-container-arrow"></span>
                    </div>
                  </div>
                <% } %>
              <% } %>
            
        </div>
        </div>
        <div class="easter-egg-container" id="darkModeToggle">
          <p>Time Warp:
              <br>Dark Mode Unleashed!🕰️|🐰
          </p>
      </div>
      </div>
    </div>
        <script src="members.js"></script>
<%- include("templates/footer") %>
