<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%- data[0].title %></title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    #capsule-pics {
        min-width: 100%;
    }

    .media-container {
        text-align: center;
        margin-bottom: 20px;
    }

    .img, .video {
        max-width: 80%;
        cursor: zoom-in;
        z-index: 1;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .caption {
        margin-top: 10px;
        font-size: 1.25rem;
    }

    /* Code referenced from https://www.youtube.com/watch?v=cb8NbWz5plg */
    #zoomed-img {
        display: none;
        border: 7px solid #916fe0;
        z-index: 900;
        cursor: zoom-out;
        position: fixed;
        width: 60%;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto;
    }

    /* Referenced from https://codepen.io/srikarg/pen/AWZLyq */
    #dim {
        display: none;
        background: #000;
        opacity: 0.5;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
    }

    #section-directory {
        margin-top: 7%;
    }

    #pics-holder {
        box-shadow: 2px 2px 5px 2px rgb(0 0 0 / 20%);
    }
    
  </style>
</head>

<body>
    <div id="dim" onclick="unfocus()"></div>
    <%- include("templates/header") %>
    <div class="container py-2" id="capsule-pics">
        <div class="row">
            <div class="col-3">
                <div class="list-group position-fixed" id="section-directory">
                    <% for(let i=0; i < data[0].sections.length; i++) { %>
                        <a href="#section-<%- i + 1 %>" class="list-group-item list-group-item-action"><%- data[0].sections[i] %></a>
                    <% } %>
                </div>
            </div>
            <div class="col-6" id="pics-holder">
                <img id="zoomed-img" class="unfocused" onclick="unfocus()">
                <h1 class="text-center py-3"><%- data[0].title %></h1>
                <h3 class="text-center pb-3"><%- data[0].capsuleCaption %></h3>
                <% for(let i=0; i < data[0].sections.length; i++) { %>
                    <div id="section-<%- i + 1 %>" class="py-3">
                        <h4><%- data[0].sections[i] %></h4>
                        <hr>
                    </div>
                <% } %>
                <% for(let i=0; i < data[0].images.length; i++) { %>
                    <script>
                    var html;
                    if ("<%- data[0].images[i].type%>".startsWith("image/")) {
                        html = `<div class="row d-flex align-items-center justify-content-center my-3">
                                        <img src=<%- data[0].images[i].path %> class="img" onclick='b("<%- data[0].images[i].path %>")'>
                                        <p class="caption"><%- data[0].images[i].caption %></p>
                                </div>`;
                    } else if ("<%- data[0].images[i].type%>".startsWith("video/")) {
                        html = `<div class="row d-flex align-items-center justify-content-center my-3">
                                    <video class="video" controls onclick='b("<%- data[0].images[i].path %>")'>
                                        <source src="<%- data[0].images[i].path %>" type="<%- data[0].images[i].type %>">
                                    </video>
                                    <p class="caption"><%- data[0].images[i].caption %></p>
                                </div>`;
                    }
                        document.getElementById("section-"+<%- data[0].images[i].order %>).insertAdjacentHTML("beforeend", html);
                    </script>
                <% } %>
            </div>
        </div>
    </div>

    <script>
        function b(src) {
            document.getElementById('zoomed-img').src = src;
            document.getElementById('dim').style.display = "block";
            document.getElementById('zoomed-img').style.display = "block";
        }

        function unfocus() {
            document.getElementById('dim').style.display = "none";
            document.getElementById('zoomed-img').style.display = "none";
        }
    </script>
    <%- include("templates/footer") %>
</body>

</html>
